.env
*.code-workspace
/log/*.*
/vendor/
node_modules/
npm-debug.log
yarn-error.log
composer.lock
/.vscode
*.pem
tailwind.config.js
minify.sh
/public/images/articles
/public/images/avatars
/public/images/flags