# Настройки PHP
APP_TIMEZONE=UTC
APP_COOKIE_LIFETIME=0
APP_COOKIE_PATH=/
APP_COOKIE_HTTP_ONLY=1
APP_USE_ONLY_COOKIES=1
APP_COOKIE_SECURE=1
APP_USE_STRICT_MODE=1
APP_COOKIE_SAMESITE=Strict
APP_USE_TRANS_SID=0
APP_CACHE_LIMITER=nocache
APP_SID_LENGTH=128
APP_HASH_FUNCTION=sha256

# Настройки приложения
APP_ID=1
APP_LOCALE=ru
APP_TITLE=Atlantis
APP_DESCR=Простой фреймворк для создания веб-приложений
APP_AUTHOR=Author
APP_KEYWORDS=php, framework, web, application, mvc, orm, atlantis

# Настройки для подключения к БД
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_CHARSET=utf8
DB_USERNAME=
DB_PASSWORD=

# Memcached
MEMCACHED_HOST=localhost
MEMCACHED_PORT=11211