@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.visually-impaired {
    font-size: 1.5rem;
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }

    .print,
    .print * {
        display: block !important;
    }
}

article figcaption {
    padding: 0.25rem 0;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    color: #4a5568;
}

article p {
    margin: 1rem 0;
}

article a:hover {
    text-decoration: underline;
}

article h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
}

article h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}

article h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1rem 0;
}

article h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
}

article h5 {
    font-size: 0.875rem;
    font-weight: 600;
    margin: 1rem 0;
}

article h6 {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 1rem 0;
}

.mce-content-body {
    padding: 1rem;
}
